.header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 27, 27, 0.416);
        z-index: 1;
    }
    img {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        object-position: top right;
        z-index: 0;
        object-fit: cover;
        
    }
    div {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            text-align: center;
            width: 60%;
            font-size: 35px;
            letter-spacing: 3px;
            margin-bottom: 1rem;
            font-family: var(--main-font);
        }
        article{
            display: flex;
            gap: 10px;
        }
    }
}

@media (max-width:850px) {
    .header{
        div{
            h1{
                width: 90%;
                font-size: 25px;
            }
            article{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}