.mainBtn,
.secondBtn {
    text-transform: capitalize;
    font-family: var(--main-font);
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
    background-color: var(--btn-main-color);
    letter-spacing: 1px;
    border: 2px solid var(--btn-main-color);
    cursor: pointer;
    transition: 0.4s all ease;
    font-size: 18px;
    &:hover{
        background-color: var(--btn-second-color);
        border: 2px solid var(--btn-border-color);
    }
    &:active{
        transform: scale(0.9);
    }
}


.secondBtn{
    background-color: var(--btn-second-color);
    border: 2px solid var(--btn-border-color);
    &:hover{
        background-color: var(--btn-border-color);
        color: black;
    }
}